@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: oklch(27.4% 0.006 286.033);
}

body {
  margin: 0;
  min-height: 100vh;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 4rem;
}
